.backAlert{ 
    margin:0px auto; 
    width:100%; 
    background-color:rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    position:fixed;
    top:0vh; 
    bottom:0;
}
.bodyAlert{ 
    margin:0px auto; 
    font-size:21px; 
    font-weight:bold; 
    padding: 10px 16px;
    width:40%;  
    background-color:white; 
    margin-top:10%;
}

@media screen and (max-width:480px){

    .bodyAlert{
        width: 80%;
        margin: 50% auto 0 auto;
    }

}