
.bodyHeader{ 
    margin:10px 16px;
    border-radius:10px; 
    padding: 20px 0px;
}
.columnHeaderTableDateTime{  
    display:flex; 
    flex-direction:column; 
    height:100%; 
    width:20%; 
}
@media screen and (max-width:480px){

.bodyHeader{ 
    margin:10px 0px;
}
.columnHeaderTableDateTime{
    display: none;
}
}