.conteiner{  
    margin:15px 10px;  
    border-radius:10px;  
    display:block; 
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
}

@media screen and (max-width:480px){
    .conteiner{  
        margin:15px 0px;  
        border-radius:10px;  
        display:block; 
        box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    }
    .columnDateTime{
        display: none;
    }
}