.backItem{ 
    flex-direction:row; 
    margin:8px 10px; 
    width:15%;   
    border-radius:10px;  
    display:inline-block; 
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
}

@media screen and (max-width:480px){
    .backItem{ 
        margin:0px 8px; 
        width:90%;   
        border-radius:10px;  
        display:block; 
        box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
    }
}