.container{
    position:absolute;
    width:100%;
    height:100vh;
}
.form{
    padding:10px 20px;
    margin:10% auto 0 auto;
    width: 30%;
    border-radius: 10px;
    border:0.5px solid #eee ;
    background-color:white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1)

}
.title{
    color:#696969;
    text-align:center;
}
.inputs{
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:0.5px solid #eee;
    height:45px;
    font-size:19px;
    outline:none;
    width:100%;
    margin-top: 16px;
}
.divHeader{
    width:100%;
}
.divForm{
    width:100%;
}
.divButtons{
    height:10%;
    padding: 10px 10px;
    margin-top:20px;
}
.btnEntrar{
    width:100%;
    height:45px;
    background-color:#bbdefb;
    border-radius:5px;
    border:none;
    outline:none;
    font-size:17px;
    color:white;
}

.btnRegister{
    width:100%;
    margin-top:16px;
    border-radius:5px;
    border:none;
    outline:none;
    font-size:17px;
    color:#bbdefb;
    background-color:white
} 
.btnFacebook{
    margin-top: 10px;
    width: 100%;
    background-color: #4C69BA;
    text-align: center;
}
@media screen and (max-width:480px){

    .form{
        width: 70%;
        margin:30% auto 0 auto;
    }

}