.nav{
    padding: 40px 40px;
    background-color:white;
    box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
  }
.lableCloseSesion{  
    display:inline-block; 
}

  @media screen and (max-width:480px){
    .nav{
        padding: 15px 5px;
        background-color:white;
        box-shadow: 0px 10px 10px rgba(0,0,0, 0.1);
      } 
    .lableCloseSesion{
        display: none;
    }   
  }