.container{
    position: absolute;
    flex: 1px;
    width:100%;
}
.formBody{
    margin: 5% auto 0px auto;
    width:40%;
    border-radius: 10px;
    border:1px solid #eee;
    padding: 10px;
    padding-bottom: 20px;        

}
.headerForm{
    padding: 16px 16px;
    border-bottom:1px solid #eee;
}
.buttonsForm{
    padding: 0px 16px;
}

@media screen and (max-width:480px){

    .formBody{
        width: 70%;
        margin:10% auto 0 auto;
    }

}